.shelf {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* justify-items: flex-start; */
  width: 100%;
  height: 558px;
  gap: 24px;
}

.shelf-header {
  display: flex;
  justify-content: start;
  align-items: start;

  height: 34px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  gap: 4px;
}

.shelf-items {
  display: flex;
  width: 100%;
  gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.shelf-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-width: 480px;
  min-height: 500px;
  padding: 0px 30px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
}

.shelf-item-content {
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: start;
  width: 322px;
  height: 88px;
}

.feature {
  display: flex;
  /* justify-content: start; */
  /* align-items: start; */
  width: 204px;
  height: 24px;
  /* position: relative; */
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.orange-feature {
  color: rgba(182, 68, 0, 1);
}

.gray-feature {
  color: rgba(110, 110, 115, 1);
}

.white-feature {
  color: rgba(245, 245, 247, 1);
}

.dark-theme .gray-feature {
  color: rgba(134, 134, 139, 1);
}

.feature-text {
  width: 132px;
  height: 14px;
}

.feature-superscript {
  width: 6px;
  height: 9px;
  /* position: absolute;
  top: 0.41px; */
  /* left: 134.91px; */
  font-size: 6px;
  vertical-align: super;
}

.shelf-item-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 12px;
}

.bold-text {
  display: flex;
  justify-content: start;
  color: rgba(29, 29, 31, 1);
  font-size: 26px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.light-text {
  display: flex;
  justify-content: start;
  height: 20px;
  color: rgba(29, 29, 31, 1);
  font-size: 17px;
  line-height: 20px;
  font-weight: 300;
}

.product-price {
  font-size: 18px;
}

.with-feature .shelf-item-content {
  margin-top: 30px;
}

/* --------- TYPES OF SHELF-ITEM ---------- */
.dark-theme-shelf-item .shelf-item-content *:not(.feature) {
  color: rgba(255, 255, 255, 1);
}

.with-background {
  background-repeat: no-repeat;
  background-size: cover;
}

.medium-shelf-item {
  min-width: 400px;
}

.medium-shelf-item .shelf-item-content {
  margin-top: 30px;
}

.text-only .shelf-item-content {
  letter-spacing: 0.2px;
  gap: 9px;
  margin-top: 50px;
}

.text-only .with-feature.shelf-item-content {
  margin-top: 31px;
}

/* Small shelf item */
.small-shelf-item-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.small-shelf-item {
  display: flex;
  justify-content: center;
  min-width: 313px;
  min-height: 238px;
}

.small-shelf-item .shelf-item-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 238px;
  height: 84px;
  margin-top: 0px;
  font-size: 22px;
  line-height: 28px;
}

/* Narrow shelf item */
.narrow-shelf-item {
  display: flex;
  flex-direction: column;
  min-width: 313px;
  align-items: center;
  padding-top: 71px;
}

.narrow-item-product-img {
  width: 230px;
  height: 230px;
}

.color-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 253px;
  height: 58px;
  gap: 6px;
}

.colors {
  width: 12px;
  height: 12px;
}

.narrow-shelf-item-content {
  margin-top: 58px;
}

.with-color-list .narrow-shelf-item-content {
  margin-top: 0px;
}

.narrow-shelf-item .product-name {
  margin-top: 21px;
}

.narrow-shelf-item .with-feature .product-name {
  margin-top: 0px;
}

.narrow-shelf-item-content {
  align-content: space-between;
  justify-content: space-between;
  width: 257px;
  height: 109px;
}

.narrow-shelf-item .shelf-item-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 61px;
  gap: 6px;
}

.narrow-shelf-item .feature {
  width: 100%;
  height: 15px;
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
}

.narrow-shelf-item .bold-text {
  display: flex;
  align-items: start;
  width: 100%;
  /* height: 20px; */
  font-size: 18px;
  line-height: 20px;
}

.narrow-shelf-item .product-price {
  width: 100%;
  height: 16px;
  font-size: 14px;
  line-height: 18px;
}

/* SHELF - THE LATEST ----------------- */
.the-latest .product-name {
  width: 322px;
  height: 32px;
}

.the-latest .shelf-item {
  min-width: 480px;
  height: 500px;
}

.the-latest .shelf-item-content {
  margin-top: 30px;
}

.the-latest .product-name {
  margin-top: 24px;
}

.the-latest .with-feature .product-name {
  margin-top: 0px;
}

.the-latest .shelf-item1 {
  background-image: url("../Images/iphone16pro-bg.svg");
}

.the-latest .shelf-item2 {
  background-image: url("../Images/apple-watch-series-10-bg.svg");
}

.the-latest .shelf-item3 {
  background-image: url("../Images/ipad-mini-bg.svg");
}

.the-latest .shelf-item4 {
  background-image: url("../Images/macbook-pro-bg.svg");
}

/* SHELF - PERSONALIZATION ------------------- */
.personalization .shelf-item1 {
  background-image: url("../Images/gift-airpods-bg.svg");
}

/* SHELF - HOLIDAY PICKS ---------------------- */
.holiday-picks .shelf-item1 {
  background-image: url("../Images/holiday-picks-front-bg.svg");
}

/* SHELF - ONLY AT APPLE ----------------------- */
.only-at-apple .shelf-item1 {
  background-image: url("../Images/bg-gift-bag.svg");
}

.only-at-apple .shelf-item1 .shelf-item-content {
  width: 305px;
  height: 130px;
}

.small-shelf-item1 .shelf-item-content {
  width: 238px;
  height: 84px;
}

.small-shelf-item2 .shelf-item-content {
  width: 253px;
  height: 82px;
}

.small-shelf-item3 .shelf-item-content {
  width: 225.89px;
  height: 84px;
}

.small-shelf-item4 .shelf-item-content {
  width: 244.37px;
  height: 112px;
}

.only-at-apple .shelf-item2 {
  background-image: url("../Images/bg-trade-in.svg");
}

.only-at-apple .shelf-item2 .shelf-item-content {
  width: 330.59px;
  font-size: 25px;
}

.only-at-apple .shelf-item3 {
  background-image: url("../Images/bg-specialist.svg");
}

.only-at-apple .shelf-item3 .shelf-item-content {
  width: 361.36px;
}

/* SHELF - THE APPLE EXPERIENCE */
.the-apple-experience .light-text {
  width: 259px;
  height: 41px;
}

.the-apple-experience .shelf-item1 {
  background-image: url("../Images/bg-apple-music.svg");
}

.the-apple-experience .shelf-item2 {
  background-image: url("../Images/bg-apple-tv.svg");
}

.the-apple-experience .shelf-item3 {
  background-image: url("../Images/bg-easy-subscription.svg");
}

.the-apple-experience .shelf-item4 {
  background-image: url("../Images/bg-new-feature.svg");
}

/* SHELF - SPECIAL SAVINGS */
.special-savings {
  height: 590px;
}

.special-savings .light-text {
  width: 320.79px;
  height: 80px;
}

.shelf-header-top {
  display: flex;
}

.special-savings .shelf-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 24px;
}

.special-savings .shelf-item1 {
  background-image: url("../Images/bg-carrier-deals.svg");
}

.special-savings .shelf-item2 {
  background-image: url("../Images/bg-education.svg");
}

.special-savings .shelf-item3 {
  background-image: url("../Images/bg-certified-refurbished.svg");
}

.special-savings .shelf-item4 {
  background-image: url("../Images/bg-business.svg");
}

.special-savings .shelf-item5 {
  background-image: url("../Images/bg-government.svg");
}

/* 
Class Names:
- shelf item bold text, light-text 
- .the-latest.shelf-item
- .feature-text
- .feature-superscript
- .color-list
- .with-feature-shelf-text
- apple-intelligence-feature
- feature
*/
